.book-list {
  position: relative;
  width: 30%;
  background-color: $main-color;


  & > div {
    border: 1px solid $border-color;
  }

  &__header{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__input-box{
    display: flex;
    width: 80%;
    height: 40px;
  }

  &__input{
    width: calc(100% - 75px);
    padding-left: 15px;
  }

  &__button-go{
    font-size: 21px;
    line-height: 24px;
    font-weight: 600;
    width: 75px;
    min-width: 75px;
  }


  &__content{
    height: calc(100vh - 180px);
    max-height: calc(100vh - 180px);
    overflow-y: auto;
    overflow-x: hidden;
  }

  &__article{
    min-height: 100px;
    max-height: 150px;
    margin: 10px;
    background-color: #ffffff;
    //border: 1px solid #000000;
    border-bottom: 1px solid $border-color;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    & *{
      margin: 10px;
      font-size: 18px;
      line-height: 21px;
    }
    &-title{
      width: 100%;
    }
    &-author-name{
      max-width: 70%;
    }
    &-language{
      width: 30%;
    }
  }


  &__footer{
    height: 80px;
    max-height: 80px;

    &-info{
      display: flex;
      justify-content: center;
      margin: 10px 0 0;

      & :first-child{
        margin-left: 0;
      }
      & :last-child{
        margin-right: 0;
      }
      & *{
        font-size: 16px;
        line-height: 18px;
        width: auto;
        margin: 0 10px;
      }
    }
    &-buttons{
      margin: 10px 0 0;
      display: flex;
      justify-content: center;
      & button{
        height: 30px;
        width: auto;
        padding: 0 30px;

      }
      & :first-child{
        border-radius:  8px 0 0 8px;
      }
      & :last-child{
        border-radius: 0 8px 8px 0;
      }
    }
  }
}

.selected{
  background-color: $hover-color;
  color: $main-color;
}