.local-storage{
  width: 30%;
  background-color: $main-color;

  & > div {
    border: 1px solid $border-color;
  }
  &__header{
    display: flex;
    flex-wrap: wrap;
    height: 150px;
    & h2{
      text-align: center;
      width: 100%;
      font-size: 32px;
      line-height: 38px;
      margin: 10px 0;
    }
    &-info{
      display: flex;
      width: 100%;
      justify-content: center;
      & :first-child{
        margin-left: 0;
      }
      & :last-child{
        margin-right: 0;
      }
      & p{
        margin: 0 10px;
        width: auto;
      }
    }
    &-filter{
      position: relative;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: baseline;
      margin-left: 80px;
      
      &-content{
        position: relative;
      }
      
      &-title{
        margin-right: 20px;
      }

      &-text{

        margin-right: 5px;
        &-box{
          display: flex;
          align-items: center;
          cursor: pointer;
          width: 180px;
        }
      }
      &-text:hover{
        color: $hover-color;
      }

      &-underground{
        display: none;
        position: absolute;
        top: 20px;
        left: 0;
        width: 150%;
        border: 1px solid $border-color;
        background-color: $main-color;
        padding: 10px;
        & li{
          position: relative;
          text-align: center;
          margin-bottom: 5px;
          padding-bottom: 5px;
          cursor: pointer;
        }
        & li:hover{
          color: $hover-color;
        }
        & li:after{
          content: '';
          height: 1px;
          position: absolute;
          bottom: 0;
          left: 5%;
          width: 90%;
          background-color: $border-color;
        }
        & li:last-child{
          margin: 0;
          padding: 0;
        }
        & li:last-child:after {
          content: none;
        }
      }
    }
  }
  &__content{
    height: calc(100vh - 150px);
    max-height: calc(100vh - 100px);
    overflow-x: hidden;
    overflow-y: auto;
  }
  &__article{
    height: 150px;
    max-height: 180px;
    border: 1px solid #000000;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    & *{
      font-size: 18px;
      line-height: 21px;
    }
    &-info{
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      text-align: center;
      margin: 0 20px 5px;
    }
    &-title{
      width: 100%;
      margin: 10px 0;
      font-size: 21px;
      line-height: 24px;
      font-weight: 600;
    }
    &-author-name{
      max-width: 70%;
    }
    &-language{
      width: 30%;
    }
    &-status{
      margin: 0 20px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      &-switch{
        margin: 0;
      }
    }
    &-button-remove{
      height: 40px;
      border-radius: 20px;
      padding: 0 15px;
    }
  }
}