.main-button {
  background: rgba(52, 178, 255, 1);
  border-radius: 28px;
  height: 52px;
  width: 148px;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
}

.container {
  width: 80%;
  margin: auto;
}