h1,
h2 {
  font-family: Lato;
}

.info-card {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
}

.input-filter {
  margin-bottom: 10px;
  border-radius: 5px;
}
.input-filter:focus {
  outline: none;
}
